<div class=" intro-2">
  <!--  <div class="overlay zoom">-->
  <div class="full-bg-img mask rgba-black-light flex-center">
    <div class="container text-center white-text wow fadeInUp" style="height: 500px">
      <h2>This Navbar is fixed</h2>
    </div>
  </div>
  <!--  </div>-->
</div>
<div class="container mt-5">
  <div class="row form-inline d-flex justify-content-center">
    <div class="form-group col-10">
      <input class="form-control col-12" type="text" placeholder="Enter item"  name="item" [(ngModel)]="searchText">
    </div>
  </div>
</div>
<app-breed [searchText]="searchText"></app-breed>
<!--<router-outlet></router-outlet>-->
