<!--<div class="container z-depth-1 px-0" style="margin-bottom: 100px; margin-top: 100px">-->

  <!--Section: Content-->
  <section class="p-5 text-center"
           style="background-size: cover; background: url('assets/images/back2.jpg') no-repeat fixed center center; height: 810px">

    <!-- Section heading -->
    <h3 class="text-center font-weight-bold text-white text-uppercase pb-2 mb-4" style="margin-top: 100px">Order</h3>
    <hr class="w-header my-4 white">
    <!-- Section description -->
    <h3 class="lead text-center text-white pt-2 mb-5">Deliver to the door!</h3>

    <form class="mb-5 mx-md-5" action="">

      <div class="row">
        <div class="col-md-4 mb-4">

          <!-- Name -->
          <input type="text" id="name" class="form-control" placeholder="Name">

        </div>
        <div class="col-md-4 mb-4">

          <!-- Email -->
          <input type="email" id="email" class="form-control" placeholder="Email">

        </div>
        <div class="col-md-4 mb-4">

          <!-- Phone -->
          <input type="text" id="phone" class="form-control" placeholder="Phone">

        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mb-4">

          <!-- Subject -->
          <input type="text" id="subject" class="form-control" placeholder="Address">

        </div>
      </div>

      <div class="row">
        <div class="col-md-12">

          <div class="form-group mb-4">
            <textarea class="form-control rounded" id="message" rows="3" placeholder="Comments"></textarea>
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-elegant" (click)="save()">Submit</button>
          </div>

        </div>
      </div>

    </form>

  </section>
  <!--Section: Content-->


<!--</div>-->
