<div class="container py-3 z-depth-1 rounded" style="margin-top: 100px; margin-bottom: 100px">


  <!--Section: Content-->
  <section class="dark-grey-text">
    <h3 class="text-center font-weight-bold mb-4 pb-2">Basket {{user.name}}</h3>
    <p class="text-center text-muted w-responsive mx-auto mb-5">Your pet is waiting for you!</p>

    <!-- Shopping Cart table -->
    <div class="table-responsive">

      <table class="table product-table mb-0">

        <!-- Table head -->
        <thead class="lighten-5" style="background-color: lemonchiffon;">
        <tr>
          <th></th>
          <th class="font-weight-bold">
            <strong>Pet</strong>
          </th>
          <th class="font-weight-bold">
            <strong>Category</strong>
          </th>
          <th></th>
          <th class="font-weight-bold">
            <strong>Price</strong>
          </th>
<!--          <th class="font-weight-bold">-->
<!--            <strong></strong>-->
<!--          </th>-->
<!--          <th class="font-weight-bold">-->
<!--            <strong></strong>-->
<!--          </th>-->
          <th></th>
        </tr>
        </thead>
        <!-- /.Table head -->

        <!-- Table body -->
        <tbody>

        <!-- First row -->
        <tr *ngFor="let pet of user.basket">
          <th scope="row">
            <img src="{{pet.image}}" alt="" class="img-fluid z-depth-0 bpictures">
          </th>
          <td>
            <h5 class="mt-3">
              <strong>{{pet.name}}</strong>
            </h5>
<!--            <p class="text-muted">{{pet.category}}</p>-->
          </td>
          <td>{{pet.category}}</td>
          <td></td>
          <td>${{pet.cost}}</td>
          <td class="text-right">
            <button type="button" class="btn btn-sm" data-toggle="tooltip" data-placement="top"
                    title="Remove item" (click)="delete(pet)">X
            </button>
          </td>
        </tr>
        <!-- /.First row -->

        <!-- Fourth row -->
        <tr>
          <td colspan="3"></td>
          <td>
            <h4 class="mt-2">
              <strong>Total</strong>
            </h4>
          </td>
          <td class="text-right">
            <h4 class="mt-2">
              <strong>${{totalSum}}</strong>
            </h4>
          </td>
          <td colspan="3" class="text-right">
            <button type="button" class="btn btn-rounded" routerLink="order">Complete purchase
              <i class="fas fa-angle-right right"></i>
            </button>
          </td>
        </tr>
        <!-- Fourth row -->

        </tbody>
        <!-- /.Table body -->

      </table>

    </div>
    <!-- /.Shopping Cart table -->

  </section>
  <!--Section: Content-->


</div>
