<div class="container py-3 z-depth-1 rounded" style="margin-top: 100px; margin-bottom: 100px">


  <!--Section: Content-->
  <section class="dark-grey-text">

    <!-- Shopping Cart table -->
    <div class="table-responsive">

      <table class="table product-table mb-0">

        <!-- Table head -->
        <thead class="lighten-5" style="background-color: lemonchiffon;">
        <tr>
          <th></th>
          <th class="font-weight-bold">
            <strong>Pet</strong>
          </th>
          <th class="font-weight-bold">
            <strong>Color</strong>
          </th>
          <th></th>
          <th class="font-weight-bold">
            <strong>Price</strong>
          </th>
<!--          <th class="font-weight-bold">-->
<!--            <strong></strong>-->
<!--          </th>-->
<!--          <th class="font-weight-bold">-->
<!--            <strong></strong>-->
<!--          </th>-->
          <th></th>
        </tr>
        </thead>
        <!-- /.Table head -->

        <!-- Table body -->
        <tbody>

        <!-- First row -->
        <tr>
          <th scope="row">
            <img src="assets/images/dalmatian1.jpg" alt="" class="img-fluid z-depth-0 bpictures">
          </th>
          <td>
            <h5 class="mt-3">
              <strong>Dalmatian</strong>
            </h5>
            <p class="text-muted">Dog</p>
          </td>
          <td>White-black</td>
          <td></td>
          <td>$50</td>
          <td class="text-right">
            <button type="button" class="btn btn-sm" data-toggle="tooltip" data-placement="top"
                    title="Remove item">X
            </button>
          </td>
        </tr>
        <!-- /.First row -->

        <!-- Second row -->
        <tr>
          <th scope="row">
            <img src="assets/images/cat1.jpg" alt="" class="img-fluid z-depth-0 bpictures">
          </th>
          <td>
            <h5 class="mt-3">
              <strong>Cat</strong>
            </h5>
            <p class="text-muted">Cat</p>
          </td>
          <td>Grey</td>
          <td></td>
          <td>$50</td>
          <td class="text-right">
            <button type="button" class="btn btn-sm" data-toggle="tooltip" data-placement="top"
                    title="Remove item">X
            </button>
          </td>
        </tr>
        <!-- /.Second row -->

        <!-- Third row -->
        <tr>
          <th scope="row">
            <img src="assets/images/rodent1.jpg" alt="" class="img-fluid z-depth-0 bpictures">
          </th>
          <td>
            <h5 class="mt-3">
              <strong>Belka</strong>
            </h5>
            <p class="text-muted">Rodent</p>
          </td>
          <td>Orange</td>
          <td></td>
          <td>$50</td>
          <td class="text-right">
            <button type="button" class="btn btn-sm" data-toggle="tooltip" data-placement="top"
                    title="Remove item">X
            </button>
          </td>
        </tr>
        <!-- /.Third row -->

        <!-- Fourth row -->
        <tr>
          <td colspan="3"></td>
          <td>
            <h4 class="mt-2">
              <strong>Total</strong>
            </h4>
          </td>
          <td class="text-right">
            <h4 class="mt-2">
              <strong>$150</strong>
            </h4>
          </td>
          <td colspan="3" class="text-right">
            <button type="button" class="btn btn-rounded" routerLink="order">Complete purchase
              <i class="fas fa-angle-right right"></i>
            </button>
          </td>
        </tr>
        <!-- Fourth row -->

        </tbody>
        <!-- /.Table body -->

      </table>

    </div>
    <!-- /.Shopping Cart table -->

  </section>
  <!--Section: Content-->


</div>
