<!--&lt;!&ndash; Main navigation &ndash;&gt;-->
<!--<div class="container-fluid m-0">-->

<!--  &lt;!&ndash; Full Page Intro &ndash;&gt;-->
<!--  <section style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/90.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">-->
<!--    &lt;!&ndash; Mask & flexbox options&ndash;&gt;-->
<!--    <div class="mask d-flex justify-content-center align-items-center">-->
<!--      &lt;!&ndash; Content &ndash;&gt;-->
<!--      <div class="container py-5 my-5">-->

<!--        <h3 class="font-weight-bold text-center white-text pb-2">Get Started Free</h3>-->
<!--        <p class="lead text-center white-text pt-2 mb-5">Start to explore our product absolutely free.</p>-->

<!--        &lt;!&ndash;Grid row&ndash;&gt;-->
<!--        <div class="row d-flex align-items-center justify-content-center">-->
<!--          &lt;!&ndash;Grid column&ndash;&gt;-->
<!--          <div class="col-md-6 col-xl-5">-->
<!--            &lt;!&ndash;Form&ndash;&gt;-->
<!--            <div class="card">-->
<!--              <div class="card-body z-depth-2 px-4">-->
<!--                <div class="md-form mt-3">-->
<!--                  <i class="fa fa-user prefix grey-text"></i>-->
<!--                  <input type="text" id="form3" class="form-control">-->
<!--                  <label for="form3">Your name</label>-->
<!--                </div>-->
<!--                <div class="md-form">-->
<!--                  <i class="fa fa-envelope prefix grey-text"></i>-->
<!--                  <input type="text" id="form2" class="form-control">-->
<!--                  <label for="form2">Your email</label>-->
<!--                </div>-->
<!--                <div class="md-form">-->
<!--                  <i class="fas fa-key prefix grey-text"></i>-->
<!--                  <input type="text" id="form4" class="form-control">-->
<!--                  <label for="form4">Your password</label>-->
<!--                </div>-->
<!--                <div class="text-center my-3">-->
<!--                  <button class="btn btn-indigo btn-block">Send</button>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash;/.Form&ndash;&gt;-->
<!--          </div>-->
<!--          &lt;!&ndash;Grid column&ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash;Grid row&ndash;&gt;-->
<!--      </div>-->
<!--      &lt;!&ndash; Content &ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash; Mask & flexbox options&ndash;&gt;-->
<!--  </section>-->
<!--  &lt;!&ndash; Full Page Intro &ndash;&gt;-->

<!--</div>-->
<!--&lt;!&ndash; Main navigation &ndash;&gt;-->




  <!--Section: Content-->
  <section class="p-5  text-center"
           style="background-size: cover; background: url('assets/images/back.jpg') no-repeat fixed center center; height: 810px">

    <!-- Section heading -->
    <h3 class="text-center font-weight-bold text-white text-uppercase pb-2 mb-4" style="margin-top: 100px">Sign in</h3>
    <hr class="w-header my-4 white">
    <!-- Section description -->
    <h3 class="lead text-center text-white pt-2 mb-5">Welcome to online zoo-shop!</h3>

    <form class="mb-5 mx-md-5" action="">

        <div class="col-md-4 mb-4" style="margin: auto;">

          <!-- Name -->
          <input type="text" id="email" class="form-control" placeholder="email">

        </div>

        <div class="col-md-4 mb-4" style="margin: auto;">

          <!-- Subject -->
          <input type="text" id="subject" class="form-control" placeholder="password">

        </div>
      <div class="text-center text-white">
        <p>Not a member?
          <a routerLink="/register">Register</a>
        </p>
      </div>

        <div class="text-center">
          <button type="submit" class="btn btn-elegant">Sign in</button>
        </div>
    </form>

  </section>
  <!--Section: Content-->


