<div class="container my-5">

  <!-- Section -->
  <section>
    <h6 class="font-weight-bold text-center grey-text text-uppercase small mb-4">pets</h6>
    <h3 class="font-weight-bold text-center dark-grey-text pb-2">Certain Breeds</h3>
    <hr class="w-header my-4">
    <p class="lead text-center text-muted pt-2 mb-5">You can find your lovely pet and best friend.</p>

    <!--Tab panels-->
    <div class="tab-content mb-5">

      <!--Panel-->
      <div class="tab-pane fade show in active" id="panel31" role="tabpanel">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-12 col-lg-4">

            <!-- Card -->
            <a class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal">

              <!-- Card image -->
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/img3.jpg" alt="Card image cap">

              <!-- Card content -->
              <div class="card-body">

                <h5 class="my-3">Certain Pet 1</h5>
                <p class="card-text text-uppercase mb-3">information</p>

              </div>

            </a>
            <!-- Card -->

            <!-- Card -->
            <a class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal">

              <!-- Card image -->
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/img9.jpg" alt="Card image cap">

              <!-- Card content -->
              <div class="card-body">

                <h5 class="my-3">Certain Pet 2</h5>
                <p class="card-text text-uppercase mb-3">information</p>

              </div>

            </a>
            <!-- Card -->

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-6 col-lg-4">

            <!-- Card -->
            <a class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal">

              <!-- Card image -->
              <img class="card-img-top" src=" https://mdbootstrap.com/img/Photos/Others/img4.jpg" alt="Card image cap">

              <!-- Card content -->
              <div class="card-body">

                <h5 class="my-3">Certain Pet 3</h5>
                <p class="card-text text-uppercase mb-3">information</p>

              </div>

            </a>
            <!-- Card -->

            <!-- Card -->
            <a class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal">

              <!-- Card image -->
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/img5.jpg" alt="Card image cap">

              <!-- Card content -->
              <div class="card-body">

                <h5 class="my-3">Certain Pet 4</h5>
                <p class="card-text text-uppercase mb-3">information</p>

              </div>

            </a>
            <!-- Card -->

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-6 col-lg-4">

            <!-- Card -->
            <a class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal">

              <!-- Card image -->
              <img class="card-img-top" src=" https://mdbootstrap.com/img/Photos/Others/img10.jpg" alt="Card image cap">

              <!-- Card content -->
              <div class="card-body">

                <h5 class="my-3">Certain Pet 5</h5>
                <p class="card-text text-uppercase mb-3">information</p>

              </div>

            </a>
            <!-- Card -->

            <!-- Card -->
            <a class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal">

              <!-- Card image -->
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/img8.jpg" alt="Card image cap">

              <!-- Card content -->
              <div class="card-body">

                <h5 class="my-3">Certain Pet 6</h5>
                <p class="card-text text-uppercase mb-3">information</p>

              </div>

            </a>
            <!-- Card -->

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!--Panel-->

    </div>
    <!--Tab panels-->

  </section>
  <!-- Section -->

</div>
