<div class="container my-5">
<!--  <i class="far fa-window-close" (click)="hideChild()"></i>-->
  <!-- Section -->
  <section>
    <h6 class="font-weight-bold text-center grey-text text-uppercase small mb-4">pets</h6>
    <h3 class="font-weight-bold text-center dark-grey-text pb-2">Certain Breeds</h3>
    <hr class="w-header my-4">
    <p class="lead text-center text-muted pt-2 mb-5">You can find your lovely pet and friend.</p>
    <!--Tab panels-->
    <div class="tab-content mb-5">

      <!--Panel-->
      <div class="tab-pane fade show in active" id="panel31" role="tabpanel">
        <!-- Grid row -->
        <div class="row" [ngSwitch]="num">

          <div class="row" *ngSwitchCase="1">
            <div class="col-md-4" *ngFor="let breed of listOfBreed1 | filter: searchText">
            <!-- Card -->
            <!--            <a class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal" routerLink="certain">-->
            <a class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal" routerLink="detail/{{breed.id}}">

              <!-- Card image -->
              <img class="card-img-top" src="{{breed.image}}" alt="Card image cap">

              <!-- Card content -->
              <div class="card-body">

                <h5 class="my-3">{{breed.name | titlecase}}</h5>
                <p class="card-text text-uppercase mb-3">{{breed.information | summary}}</p>
              </div>

            </a>
            <!-- Card -->
          </div>
          </div>

          <div class="row" *ngSwitchCase="2">
            <div class="col-md-4" *ngFor="let breed of listOfBreed2 | filter: searchText">
              <!-- Card -->
              <!--            <a class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal" routerLink="certain">-->
              <a class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal" routerLink="detail/{{breed.id}}">

                <!-- Card image -->
                <img class="card-img-top" src="{{breed.image}}" alt="Card image cap">

                <!-- Card content -->
                <div class="card-body">

                  <h5 class="my-3">{{breed.name | titlecase}}</h5>
                  <p class="card-text text-uppercase mb-3">{{breed.information | summary}}</p>
                </div>

              </a>
              <!-- Card -->
            </div>
          </div>

          <div class="row" *ngSwitchCase="3">
            <div class="col-md-4" *ngFor="let breed of listOfBreed3 | filter: searchText">
              <!-- Card -->
              <!--            <a class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal" routerLink="certain">-->
              <a class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal" routerLink="detail/{{breed.id}}">

                <!-- Card image -->
                <img class="card-img-top" src="{{breed.image}}" alt="Card image cap">

                <!-- Card content -->
                <div class="card-body">

                  <h5 class="my-3">{{breed.name | titlecase}}</h5>
                  <p class="card-text text-uppercase mb-3">{{breed.information | summary}}</p>
                </div>

              </a>
              <!-- Card -->
            </div>
          </div>

          <div class="row" *ngSwitchCase="4">
            <div class="col-md-4" *ngFor="let breed of listOfBreed4 | filter: searchText">
              <!-- Card -->
              <!--            <a class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal" routerLink="certain">-->
              <a class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal" routerLink="detail/{{breed.id}}">

                <!-- Card image -->
                <img class="card-img-top" src="{{breed.image}}" alt="Card image cap">

                <!-- Card content -->
                <div class="card-body">

                  <h5 class="my-3">{{breed.name | titlecase}}</h5>
                  <p class="card-text text-uppercase mb-3">{{breed.information | summary}}</p>
                </div>

              </a>
              <!-- Card -->
            </div>
          </div>

          <div class="row" *ngSwitchCase="5">
            <div class="col-md-4" *ngFor="let breed of listOfBreed5 | filter: searchText">
              <!-- Card -->
              <!--            <a class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal" routerLink="certain">-->
              <a class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal" routerLink="detail/{{breed.id}}">

                <!-- Card image -->
                <img class="card-img-top" src="{{breed.image}}" alt="Card image cap">

                <!-- Card content -->
                <div class="card-body">

                  <h5 class="my-3">{{breed.name | titlecase}}</h5>
                  <p class="card-text text-uppercase mb-3">{{breed.information | summary}}</p>
                </div>

              </a>
              <!-- Card -->
            </div>
          </div>

          <div class="row" *ngSwitchCase="6">
            <div class="col-md-4" *ngFor="let breed of listOfBreed6 | filter: searchText">
              <!-- Card -->
              <!--            <a class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal" routerLink="certain">-->
              <a class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal" routerLink="detail/{{breed.id}}">

                <!-- Card image -->
                <img class="card-img-top" src="{{breed.image}}" alt="Card image cap">

                <!-- Card content -->
                <div class="card-body">

                  <h5 class="my-3">{{breed.name | titlecase}}</h5>
                  <p class="card-text text-uppercase mb-3">{{breed.information | summary}}</p>
                </div>

              </a>
              <!-- Card -->
            </div>
          </div>

        </div>
        <!-- Grid row -->

      </div>
      <!--Panel-->

    </div>
    <!--Tab panels-->

  </section>
  <!-- Section -->

</div>

<!--<router-outlet></router-outlet>-->
