<div class="container py-5 z-depth-1" style="margin-top: 90px; margin-bottom: 80px">


  <!--Section: Content-->
  <section class="text-center">

    <!-- Section heading -->
    <h3 class="font-weight-bold mb-2">{{pet.category}}</h3>
    <hr>

    <div class="row mt-5">
      <div class="col-lg-6">

        <!--Carousel Wrapper-->
        <div id="carousel-thumb1" class="carousel slide carousel-fade carousel-thumbnails mb-5 pb-4" data-ride="carousel">

          <!--Slides-->
          <div class="carousel-inner text-center text-md-left" role="listbox">
            <div class="carousel-item active pictures">
              <img src="{{pet.image}}"
                   alt="First slide" class="img-fluid mainPictures z-depth-2">
            </div>
            <div class="carousel-item pictures">
              <img src="{{pet.image2}}"
                   alt="Second slide" class="img-fluid mainPictures z-depth-2">
            </div>
            <div class="carousel-item pictures">
              <img src="{{pet.image3}}"
                   alt="Third slide" class="img-fluid mainPictures z-depth-2">
            </div>
          </div>
          <!--/.Slides-->

          <!--Thumbnails-->
          <a class="carousel-control-prev" href="#carousel-thumb1" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon grey"></span>
            <span class="sr-only"></span>
          </a>
          <a class="carousel-control-next" href="#carousel-thumb1" role="button" data-slide="next">
            <span class="carousel-control-next-icon grey"></span>
            <span class="sr-only">Next</span>
          </a>
          <!--/.Thumbnails-->

        </div>

      </div>

      <div class="col-lg-5 text-center text-md-left">

        <h2 class="h2-responsive text-center text-md-left product-name font-weight-bold dark-grey-text mb-1 ml-xl-0 ml-4">
          {{pet.name}}
          <a class="btn-floating btn-action ml-auto mr-4 " (click)="changeLike()" style="text-align: right;
    float: right;">
            <i class="fas fa-heart" *ngIf="pet.likeStatus"></i><i class="far fa-heart" *ngIf="!pet.likeStatus"></i></a>
        </h2>

        <h3 class="h3-responsive text-center text-md-left mb-5 ml-xl-0 ml-4">
          <span class="grey-text">
            <small>
              <strong>${{pet.cost}}</strong>
            </small>
          </span>
        </h3>

        <div class="font-weight-normal">

          <p class="ml-xl-0 ml-4">{{pet.information}}</p>
<!--          <p class="ml-xl-0 ml-4">-->
<!--            <strong>Breed: </strong>{{pet.category}}</p>-->
<!--          <p class="ml-xl-0 ml-4">-->
<!--            <strong>Age: </strong>1 month</p>-->
<!--          <p class="ml-xl-0 ml-4">-->
<!--            <strong>Color: </strong>Black and white</p>-->
          <div style="margin-top: 100px">
            <div class="row mt-5 mb-4">
              <div class="col-md-12 text-center text-md-left text-md-right">
                <a class="btn btn-primary btn-rounded" (click)="addToBasket()">
                  <i class="fas fa-cart-plus mr-2" aria-hidden="true"></i>Add to basket</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

  </section>
  <!--Section: Content-->

  <p class="grey-text mt-5 pb-2 text-uppercase" style="margin-left: 20px">You may like also</p>

  <div class="container">


    <!--Section: Content-->
    <section>

      <style>
        .news-tile .card-title {
          position: absolute;
          bottom: 15px;
          left: 40px;
        }

        .rgba-stylish-strong {
          background-color: rgba(62, 69, 81, .5);
        }
      </style>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

          <!--News tile -->
          <div class="news-tile view zoom z-depth-1 rounded mb-4">

            <a href="#!" class="text-white">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(35).jpg"
                   class="img-fluid z-depth-1 rounded" alt="sample image">
              <div class="mask flex-center rgba-black-light">
                <div class="text-white text-center py-lg-5 py-0 my-0">
                  <div>
                    <h4 class="card-title font-weight-bold pt-2">
                      <strong>This is news title</strong>
                    </h4>

                    <p class="mx-5 clearfix d-none d-md-block"></p>
                  </div>
                </div>
              </div>
            </a>

          </div>
          <!--News tile -->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <!--News tile -->
          <div class="news-tile view zoom z-depth-1 rounded mb-4">

            <a href="#!" class="text-white">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(36).jpg"
                   class="img-fluid z-depth-1 rounded" alt="sample image">
              <div class="mask flex-center rgba-black-light">
                <div class="text-white text-center py-lg-5 py-0 my-0">
                  <div>
                    <h4 class="card-title font-weight-bold pt-2">
                      <strong>This is news title</strong>
                    </h4>

                    <p class="mx-5 clearfix d-none d-md-block"></p>
                  </div>
                </div>
              </div>
            </a>

          </div>
          <!--News tile -->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <!--News tile -->
          <div class="news-tile view zoom z-depth-1 rounded mb-4">

            <a href="#!" class="text-white">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(37).jpg"
                   class="img-fluid z-depth-1 rounded" alt="sample image">
              <div class="mask flex-center rgba-black-light">
                <div class="text-white text-center py-lg-5 py-0 my-0">
                  <div>
                    <h4 class="card-title font-weight-bold pt-2">
                      <strong>This is news title</strong>
                    </h4>

                    <p class="mx-5 clearfix d-none d-md-block"></p>
                  </div>
                </div>
              </div>
            </a>

          </div>
          <!--News tile -->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </section>
    <!--Section: Content-->


  </div>


</div>
